---
import {sidebarConfigTopic} from "../config/sidebarConfig";
import Acordeon from "./ui/Acordeon.astro";
import TagA from "./ui/TagA.astro";
const {pathname} = Astro.props

---

<div
    class="sidebar-width w-fit py-[20px] h-auto pr-[10px] overflow-auto border-r-[1px] border-border dark:border-dark-border"
>
    {
        sidebarConfigTopic.map((section) => (
            <Acordeon title={section.name}>
                {section.route.map(({concept}) => (
                    <TagA
                        pathname={pathname}
                        title={concept.label}
                        href={concept.path}
                    />
                ))}
            </Acordeon>
        ))
    }
</div>