---
import FloatSidebar from "../components/FloatSidebar.astro";
import Nav from "../components/Nav.astro";
import Sidebar from "../components/Sidebar.astro";
const {pathname}  = Astro.url


interface Props {
  title: string;
  hideSidebar?: boolean;
  noAside?: boolean;
}

const { title, hideSidebar = false, noAside = false }: Props = Astro.props;
---

<!doctype html>
<html lang="es" class="">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="bg-[#E4EBFA] dark:bg-dark-main">
    <div class="top-0 sticky z-[1000]">
      <Nav />
      <FloatSidebar pathname={pathname}/>
    </div>
    <div class="flex h-fix max-w-[1410px] my-0 mx-auto ">
      {hideSidebar ? null : <Sidebar pathname={pathname}/>}

      <div class="flex-1 overflow-auto">
        <slot />
      </div>
      {
        noAside ? null : (
          <div class="aside-width">
            <slot name="aside" />
          </div>
        )
      }
    </div>
  </body>
  <style is:global>
    :root {
      --accent: 136, 58, 234;
      --accent-light: 224, 204, 250;
      --accent-dark: 49, 10, 101;
      --accent-gradient: linear-gradient(
        45deg,
        rgb(var(--accent)),
        rgb(var(--accent-light)) 30%,
        white 60%
      );
    }
    ::-webkit-scrollbar {
      display: none;
    }

    html {
      font-family: system-ui, sans-serif;
    }

    code {
      font-family:
        Menlo,
        Monaco,
        Lucida Console,
        Liberation Mono,
        DejaVu Sans Mono,
        Bitstream Vera Sans Mono,
        Courier New,
        monospace;
    }
  </style>
</html>
